:root {
  --primary-color: #ffffff;
  --secondary-color: #46a8af;
  --accent-color: #f26360;
  --default-font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--default-font-family);
  color: var(--secondary-color);
}
h1 {
  font-size: 72px;
  font-style: normal;
  line-height: 98.21px;

}

h2 {
  position: absolute;
  width: 460px;
  height: 87px;
  left: calc(45% - 460px / 2 + 250px);
  top: 412px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 87px;
  padding:10
}

h3{

position: absolute;
width: 257px;
height: 49px;
left: calc(50% - 257px/2 + 0.5px);
top: 940px;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 49px;
text-align: center;
}




p {
  position: absolute;
  width: 460px;
  height: 120px;
  left: calc(45% - 460px / 2 + 250px);
  top: 500px;

  font-family: var(--default-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  
  
}

img{
  position: static;
width: 360px;
height: 350px;
left: 0px;
top: 0px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 20px 0px;
border-radius: 12px;

}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.me{
  position: absolute;
width: 460px;
height: 450px;
left: 400px;
top: 350px;
border-radius: 12px;
}

.container{
  position:relative;
  left:2px;
  top:350px;
  
}

.footerlinks{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

}

.footerlinks a{
  display:flex;
  margin:20px;
  padding:14px 14px;
  font-size:20px;
  border-radius: 50%;

}

footer{
  position: absolute;
width: 1440px;
height: 100px;
left: 0px;
top: 1603px;
}




