body {
  background: pink;
}

h1 {
    font-family: 'Nunito', sans-serif;
    color:midnightblue;
}

p{
    font-family: 'Nunito', sans-serif;
    color:midnightblue;
    font-weight: normal;
    font-size: 18px;

}